<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Sielekthor</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
    <div class="card m-4 p-4 border-0">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center">Form Ubah Member</h2>
                <br>
                <div>
                    <form th:action="@{/member/ubah/}+${member.id}" th:object="${member}" method="POST">
                        <div class="card border-bottom border-0">
                            <input type="hidden" th:field="*{id}"/>
                            Nama <br>
                            <input required th:field="*{namaMember}" class="form-control" style="border-radius: 10px" type="text" name="namaMember"/>
                            <br>

                            Tanggal Lahir <br>
                            <input th:value="*{tanggalLahir}" required class="form-control" style="border-radius: 10px" type="date" name="tanggalLahir"/>
                            <br>

                            Tanggal Pendaftaran <br>
                            <input th:value="*{tanggalPendaftaran}" required class="form-control" style="border-radius: 10px"  type="datetime-local" name="tanggalPendaftaran"/>
                            <br>
                            <br>

                            Jenis Kelamin : <br>
                            <div class="form-check">
                                <input th:if="*{jenisKelamin == 0}" class="form-check-input" type="radio" name="jenisKelamin" id="flexRadioDisabled" checked disabled>
                                <label class="form-check-label" for="flexRadioDisabled">
                                    Perempuan
                                </label>
                            </div>
                            <div class="form-check">
                                <input th:if="*{jenisKelamin == 1}" class="form-check-input" type="radio" name="jenisKelamin" id="flexRadioCheckedDisabled" checked disabled>
                                <label class="form-check-label" for="flexRadioCheckedDisabled">
                                    Laki-laki
                                </label>
                            </div>
                            <input type="hidden" th:field="*{jenisKelamin}"/>
                            <input type="hidden" th:field="*{listPembelian}"/>

                            <br>
                            <div class="card border-bottom" style="margin-bottom:20px;">

                            </div>
                        </div>
                        <button name="submit" class="btn btn-outline-warning" href = "/member">Batal</button>
                        <button name="submit" class="btn btn-warning" type="submit">Simpan</button>
                    </form>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>