<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Sielekthor</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Form Tambah Pembelian</h2>
                <br>
                <form th:action="@{/pembelian/tambah}" th:object="${pembelian}" method="POST">
                    <input type="hidden" th:field="*{id}" />

                    Nama Admin <br>
                    <input required class="form-control" style="border-radius: 10px" type="text" name="namaAdmin" th:value="*{namaAdmin}" />
                    <br><br>

                    Pembeli<br>
                    <select class="form-control" style="border-radius: 10px" th:field="*{member}">
                        <option value="" selected disabled hidden>---Pilih Member---</option>
                        <option th:each="mb : ${listMemberService}"
                                th:value="${mb.id}"
                                th:text="${mb.namaMember}"
                                th:seleced="${mb.id}">
                        </option>
                    </select>
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <h4>Daftar Barang</h4>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="br, iterationStatus : *{listPembelianBarang}">
                            <td>
                                Nama Barang
                                <br>
                                <select class="form-control" th:field="*{listPembelianBarang[__${iterationStatus.index}__].id}">
                                    <option th:each="brg : ${listBarangService}"
                                            th:value="${brg.id}"
                                            th:text="${brg.namaBarang}"
                                            th:seleced = "brg.id == br.id">
                                    </option>
                                </select>
                            </td>
                            <td>
                                Qty <br>
                                <input required class="form-control" type="text" name="quantity" th:value="${pembelianBarang.quantity}"/>
                            </td>
                            <td>
                                <br>
                                <button class="btn btn-danger" type="submit" name="hapusRow" th:value="${iterationStatus.index}">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card border-bottom">
                        <button class="btn btn-info btn-outline-dark text-dark" type="submit" name="tambahRow">Tambah Row</button>
                    </div>

                    <br>

                    <a class="btn btn-outline-warning text-warning" href="/pembelian">Cancel</a>
                    <button class="btn btn-warning" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>