<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Sielekthor</title>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('')"></nav>
<div class="container">
    <div class="row justify-content-md-center" >
        <h3 style="padding:30px">Daftar Pembelian</h3>
    </div>
    <div class="row" style="padding:10px">
        <a class="col justify-content-start btn btn-warning font-weight-bold" style="border-radius: 10px; margin-right:100px;" href="/pembelian/tambah">+ Tambah Pembelian</a>
        <a class="col justify-content-end btn btn-outline-warning font-weight-bold text-warning" style="border-radius: 10px; margin-left:100px;" href="/filter-pembelian">Cari Pembelian Berdasarkan Member/Tipe Pembayaran</a>
    </div>
    <div th:if="*{listPembelian.size() != 0}">
    <div class="row justify-content-start" style="padding-left:10px">
        <table class="table table-striped">
            <thead class="bg-warning text-center" style="padding:15px">
            <th>No.</th>
            <th>No Invoice</th>
            <th>Total Harga</th>
            <th>Member</th>
            <th>Jumlah Barang</th>
            <th>Tanggal Pembelian</th>
            <th colspan="2">Aksi</th>
            </thead>
            <tbody>
            <tr th:each="pembelian, item: ${listPembelian}">
                <td th:text="${item.count}" class="text-center"></td>
                <td th:text="${pembelian.noInvoice}" class="text-center"></td>
                <td th:text="${pembelian.total}" class="text-center"></td>
                <td th:text="${pembelian.member.namaMember}" class="text-center"></td>
                <td th:text="${listTotalJumlah[__${item.index}__]}" class="text-center"></td>
                <td th:text="${pembelian.tanggalPembelian}" class="text-center"></td>
                <td>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-sm btn-info font-weight-bold text-dark" style="border-radius:5px;" th:href="@{/pembelian/} + ${pembelian.id}">Lihat</a>
                        </div>
                        <div class="col">
                            <form th:action="@{/pembelian/hapus/} + ${pembelian.id}" th:object="${pembelian}" method="POST">
                                <button class="btn btn-sm btn-danger font-weight-bold text-dark text-bold" style="">Hapus</button>
                            </form>
                        </div>
                    </div>
                <td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div th:unless="*{listPembelian  != 0}">
        <br>
    </div>
</div>

</body>
</html>